.login-form {
  width: 300px;
  min-width: 250px;

  .form-container {
    border-radius: 2em;
    .login-form-field {
      border-radius: 2em;
    }
    .form-error {
      text-align: start;
      margin-left: 1%;
    }
  }
}
